#todo{
  background-color: bisque;
  margin: 0;
  padding: 0;
}

.box {
  height: 300px;
  width: 100%;
  overflow: auto;
  background: rgb(214, 117, 117);
  color: aliceblue;
}

#titutlo{
  color: red;
  text-decoration: underline;
  font-weight: 1200;
  text-align: center;
}

.modas{
  text-align: center;
  color: blue;
}

.modas1{
  text-align: center;
  border-bottom: 20px;
}
